{{- $currentPage := . -}}

<div class="sidebar__wrapper-inner">
    <nav class="sidebar__container">
        <ul class="sidebar" id="mysidebar">
            {{/* Get all sections on the first level */}}
            {{ range where .Site.Sections "Section" "documentation" }}
                <li class="sidebar__item {{ if or (eq . $currentPage) (.IsAncestor $currentPage) }}active{{ end }}{{ if .Pages }} has-children{{ end }}">
                    <a href="{{ .RelPermalink }}" {{ if and (.IsAncestor $currentPage) (not (eq . $currentPage)) }}style="color: #00122c;"{{ end }}>{{ .LinkTitle }}</a>
                    {{- if .Pages }}
                        {{- template "subpages" (dict "parent" . "currentPage" $currentPage "level" 1) }}
                    {{- end }}
                </li>
            {{ end }}
        </ul>
    </nav>
</div>

{{/* --- subpages --- */}}
{{- define "subpages" }}
{{- $parent := .parent }}
{{- $currentPage := .currentPage }}
{{- $level := .level }}
{{- $maxLevel := 7 }}

{{- if and $parent.Pages (lt $level $maxLevel) }}
<ul class="sidebar__submenu level-{{ $level }}" {{ if eq $level 1 }}style="padding: 0 0 0 0;"{{ end }}>
    {{- range $parent.Pages.ByWeight }}
    {{- if not .Params.hidden }}
    <li class="sidebar__submenu-item {{ if or (eq . $currentPage) (.IsAncestor $currentPage) }}active{{ end }}{{ if and (not .Params.external) .Pages }} sidebar__submenu-item_parent has-children{{ end }}">
        {{- $href := cond (and .Params.external .Params.url) .Params.url (cond .IsPage .RelPermalink "#") }}
        {{- $isExternal := and .Params.external .Params.url }}
        {{- $target := cond $isExternal "_blank" "" }}
        {{- $rel := cond $isExternal "noopener noreferrer" "" }}
        <a href="{{ $href }}" {{ with $target }}target="{{ . }}"{{ end }} {{ with $rel }}rel="{{ . }}"{{ end }}>
          <span class="sidebar__submenu-title" {{ if eq $level 1 }}style="font-size: 16px;"{{ end }}>
            {{- if .LinkTitle }}
                {{- .LinkTitle }}
            {{- else }}
                {{- .File.BaseFileName | humanize }}
            {{- end }}
          </span>
        </a>
        
        {{/* Recursive function call for subpages (skip for external link entries) */}}
        {{- if and (not .Params.external) .Pages }}
            {{- template "subpages" (dict "parent" . "currentPage" $currentPage "level" (add $level 1)) }}
        {{- end }}
    </li>
    {{- end }}
    {{- end }}
</ul>
{{- end }}
{{- end }}
