{{ $type := .Get "type" }}
{{ $icon := "" }}
{{ $title := "" }}
{{ if eq $type "supported" }}
  {{ $icon = "supported_v2.svg" }}
{{ else if eq $type "not_supported" }}
  {{ $icon = "not_supported_v2.svg" }}
{{ else if eq $type "coming_soon" }}
  {{ $icon = "note.svg" }}
  {{ with .Page.Site.Data.i18n.common.coming_soon }}{{ $title = index . .Page.Lang }}{{ else }}{{ $title = i18n "common_coming_soon" }}{{ end }}
{{ else if eq $type "techsupport_ce" }}
  {{ $icon = "intermediate_v2.svg" }}
  {{ with .Page.Site.Data.i18n.common.tech_support_stronghold_notice_ce }}{{ $title = index . .Page.Lang }}{{ else }}{{ $title = i18n "common_tech_support_stronghold_notice_ce" }}{{ end }}
{{ else if eq $type "techsupport_commercial" }}
  {{ $icon = "intermediate_v2.svg" }}
  {{ with .Page.Site.Data.i18n.common.tech_support_stronghold_notice_commercial }}{{ $title = index . .Page.Lang }}{{ else }}{{ $title = i18n "common_tech_support_stronghold_notice_commercial" }}{{ end }}
{{ end }}
<img src="/images/icons/{{ $icon }}"{{ with $title }} title="{{ . }}"{{ end }} aria-expanded="false">
